<h1>Display your Pirate here</h1>
    <p>Name: <%= @pirates.name %></p><br>
    <p>Weight: <%= @pirates.weight %></p><br>
    <p>Height: <%= @pirates.height %></p><br>

<h2>Display your first ship here</h2>
<% @ship.each do |s| %>
    <p>Name: <%= s.name %></p><br>
    <p>Type: <%= s.type %></p><br>
    <p>Booty: <%= s.booty %></p><br>
<% end %>

<h2>Display your second ship here</h2>
<% @ship.each do |s| %>
    <p>Name: <%= s.name %></p><br>
    <p>Type: <%= s.type %></p><br>
    <p>Booty: <%= s.booty %></p><br>
<% end %>


